<style>
    .slideshow {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -10;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
    }

    .slideshow li { 
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: -10;
        animation: imageAnimation 40s linear infinite; 
    }

    .slideshow li:nth-child(1) {
        background-image: url(.../../assets/images/img/1.jpeg);
    }

    .slideshow li:nth-child(2) {
        background-image: url(.../../assets/images/img/2.jpeg);
        animation-delay: 10s;
    }

    .slideshow li:nth-child(3) {
        background-image: url(.../../assets/images/img/3.jpg);
        animation-delay: 20s;
    }

    .slideshow li:nth-child(4) {
        background-image: url(.../../assets/images/img/4.jpg);
        animation-delay: 30s;
    }

    .slideshow li:nth-child(5) {
        background-image: url(.../../assets/images/img/5.jpg);
        animation-delay: 40s;
    }

    @keyframes imageAnimation {
        0% {
            opacity: 0;
            animation-timing-function: ease-in;
        }

        10% {
            opacity: 1;
            animation-timing-function: ease-out;
        }

        20% {
            opacity: 1;
        }

        30% {
            opacity: 0;
        }
    }

    .no-cssanimations .slideshow li {
        opacity: 1;
    }

    .form-control {
        border-radius: 25px;
        height: 42px;
        padding: 0 24px 0 50px;
    }
    .rowHeight {
        height: 50px;
    }
    .login_outer {
    padding: 1.5rem;
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 12px;
}
.home_outer_blk, .login_outer, .register-box {
    width: 750px;
}
:after, :before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto,sans-serif;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
 :after, :before {
    box-sizing: border-box;
}
:after, :before {
    box-sizing: border-box;
}

</style>
<div class="login_outer_bg">
    <!-- <div class="login_outer_bg" style="background-image: url('.../../assets/images/login_bg.gif');"> -->
    <div class="login_outer">
        <div class="login-logo">
            <a [routerLink]="['/']"><img src=".../../assets/images/logo-fssai.png"></a>
        </div>
        <!-- /.login-logo -->
        <div class="login_right">
            <ngx-spinner name="loginLoader" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
            <ngx-spinner name="registrationPopup" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

            <h4 class="login-box-msg title">Sign Up for Non-FBO </h4>

            <form class="" [formGroup]="registerForm" autocomplete="off">

                <input class="form-control" type="hidden" placeholder="otpVerify" formControlName="otpVerify">

                <div class="input-group mb-3 my_group_icon">
                    <!-- <label class="control-label">Name</label> -->
                    <input class="form-control" type="text" placeholder="Name" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors }" formControlName="name" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span *ngIf=" (isRegisterFormSubmitted || registerFormControl.name.dirty) && registerFormControl.name.errors " class="error invalid-feedback ">
                        <span *ngIf="registerFormControl.name.errors.required ">{{ validationMessage.common.requireError }}</span>
                    </span>
                    <!--  -->

                </div>
                <div class="input-group mb-3 my_group_icon ">
                    <input class="form-control" [readonly]="mobileNumberReadOnly"required maxlength="10" type="text" placeholder="Mobile Number" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.mobileno.dirty) && registerFormControl.mobileno.errors }" formControlName="mobileno"
                        required autofocus>
                    <!-- <input type="button" (click)="openRegisterModal(registerModal)" class="btn btn-xs btn-danger" value="OTP Verify" /> -->
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-mobile"></span>
                        </div>
                    </div>
                    <span *ngIf=" (isRegisterFormSubmitted || registerFormControl.mobileno.dirty) && registerFormControl.mobileno.errors " class="error invalid-feedback ">
                        <span *ngIf="registerFormControl.mobileno.errors.required ">{{ validationMessage.common.requireError }}</span>
                    </span>

                </div>
                <div class="input-group mb-3 my_group_icon ">
                    <input class="form-control" type="text" placeholder="Email Id" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors }" formControlName="email" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span *ngIf=" (isRegisterFormSubmitted || registerFormControl.email.dirty) && registerFormControl.email.errors " class="error invalid-feedback ">
                        <span *ngIf="registerFormControl.email.errors.required ">{{ validationMessage.common.requireError }}</span>
                    </span>
                </div>
                <div class="input-group mb-3 my_group_icon ">
                    <input class="form-control" type="text" placeholder="Name of Organisation" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.orgname.dirty) && registerFormControl.orgname.errors }" formControlName="orgname" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-industry"></span>
                        </div>
                    </div>
                    <span *ngIf=" (isRegisterFormSubmitted || registerFormControl.orgname.dirty) && registerFormControl.orgname.errors " class="error invalid-feedback ">
                        <span *ngIf="registerFormControl.orgname.errors.required ">{{ validationMessage.common.requireError }}</span>
                    </span>
                </div>
                <div class="input-group mb-3 my_group_icon ">

                    <input class="form-control" type="text" placeholder="Nature of Business" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.busnature.dirty) && registerFormControl.busnature.errors }" formControlName="busnature" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-binoculars"></span>
                        </div>
                    </div>
                    <span *ngIf=" (isRegisterFormSubmitted || registerFormControl.busnature.dirty) && registerFormControl.busnature.errors " class="error invalid-feedback ">
                        <span *ngIf="registerFormControl.busnature.errors.required ">{{ validationMessage.common.requireError }}</span>
                    </span>
                </div>
                <div class="row captcharow mb-3 my_group_icon ">
                    <div class="col-3 ">
                        <input type="text " class="form-control bg-read" value="5 " formControlName="captcha1" readonly>

                    </div>
                    <div class="col-1 signs ">
                        <h2>+</h2>
                    </div>
                    <div class="col-3 ">
                        <input type="text " class="form-control bg-read" value="5 " formControlName="captcha2" readonly>
                    </div>
                    <div class="col-1 signs ">
                        <h2>=</h2>
                    </div>
                    <div class="col-4 captcharesult ">
                        <!-- <input type="text " class="form-control " placeholder=" " formControlName="captcha" required> -->
                        <input type="text" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': (isRegisterFormSubmitted || registerFormControl.captcha.dirty) && registerFormControl.captcha.errors }" formControlName="captcha" required>
                        <span *ngIf="(isRegisterFormSubmitted || registerFormControl.captcha.dirty) && registerFormControl.captcha.errors" class="error invalid-feedback">
          <span *ngIf="registerFormControl.captcha.errors.required">{{validationMessage.common.requireError}}</span>
                        </span>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 "><button class="btn btn-primary btn-block login100-form-btn " (click)="onRegisterFormSubmit(registerModal) ">Sign up</button></div>
                    <!-- <div class="col-lg-4 "><button class="btn btn-primary btn-block mb-1 ">Reset</button></div> -->
                    <!-- <div class="col-lg-4 "><button class="btn btn-secondary btn-block mb-1 " (click)="openRegisterModal(registerModal)">Back</button></div> -->
                </div>
                <div class="text-center mt-3 font-weight-light">
                    <p class="mb-0">You have an account? <a routerLink="/login" class="text-primary txt_bold">Sign In!</a></p>

                </div>
            </form>
        </div>
    </div>
    <!-- /.login-card-body -->
</div>

<ng-template #registerModal let-modal>
    <ngx-spinner name="loginModelPopup" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>

    <div class="otp-modal">
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-lg fa-fw fa-lock"></i>OTP Varification</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
        </div>
        <div class="modal-body">
            <form class="" [formGroup]="otpregisterForm" autocomplete="off">
                <div class="form-group ">
                    <label class="control-label">Code</label>
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input>

                    <span *ngIf="(isotpRegisterFormSubmitted || otpregisterFormControl.code.dirty) && otpregisterFormControl.code.errors" class="error invalid-feedback">
        <span *ngIf="otpregisterFormControl.code.errors.required">{{ validationMessage.common.requireError }}</span>
                    </span>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="btnRegSpinner" (click)="onotpRegisterFormSubmit()">Submit</button>
            <!-- <button type="button" class="btn btn-primary">Register</button> -->
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </div>
</ng-template>


<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
